*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
}
html {
    margin: 0;
    -webkit-text-size-adjust: none;
}
body
{
    font-family: 'Roboto', arial;
    font-size: 16px;
    font-weight: 300;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.todoListWapper {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1366' height='635' preserveAspectRatio='none' viewBox='0 0 1366 635'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1086%26quot%3b)' fill='none'%3e%3crect width='1366' height='635' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M68 635L703 0L1318 0L683 635z' fill='url(%23SvgjsLinearGradient1087)'%3e%3c/path%3e%3cpath d='M503.78000000000003 635L1138.78 0L1452.28 0L817.28 635z' fill='url(%23SvgjsLinearGradient1087)'%3e%3c/path%3e%3cpath d='M1361 635L726 0L85.5 0L720.5 635z' fill='url(%23SvgjsLinearGradient1088)'%3e%3c/path%3e%3cpath d='M860.22 635L225.22000000000003 0L-386.78 0L248.22000000000003 635z' fill='url(%23SvgjsLinearGradient1088)'%3e%3c/path%3e%3cpath d='M733.0956773254286 635L1366 2.0956773254285963L1366 635z' fill='url(%23SvgjsLinearGradient1087)'%3e%3c/path%3e%3cpath d='M0 635L632.9043226745714 635L 0 2.0956773254285963z' fill='url(%23SvgjsLinearGradient1088)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1086'%3e%3crect width='1366' height='635' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1087'%3e%3cstop stop-color='rgba(200%2c 232%2c 254%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(200%2c 232%2c 254%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1088'%3e%3cstop stop-color='rgba(200%2c 232%2c 254%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(200%2c 232%2c 254%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div.todoListWapper > div.todoList {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff96;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    width: 35%;
    height: 80vh;
    padding: 1rem 2rem;
    border-radius: 5px;
}

div.taskWapper > h1{
    color:#222f3e;
    font-weight: 400;
    letter-spacing: -1px;
    word-spacing: -5px;
    text-align: center;
}
div.taskWapper > h1> span {
    color: #710AF0;
}

.completed{
    opacity: .5;
    text-decoration: line-through;
 }
 
.form-group {
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}

.form-group select {
    width: 100%;
    font-size: 1rem;
    height: 1.6rem;
    padding: 0.125rem 0.125rem 0.0625rem;
    background: none;
    border: none;
    line-height: 1.6;
    box-shadow: none;
}

.form-group .control-label {
    position: absolute;
    top: 0.25rem;
    pointer-events: none;
    padding-left: 0.125rem;
    z-index: 1;
    color: #b3b3b3;
    font-size: 1rem;
    font-weight: normal;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
}

.form-group .bar {
    position: relative;
    border-bottom: 0.0625rem solid #999;
    display: block;
}

.form-group .bar::before {
    content: "";
    height: 0.125rem;
    width: 0;
    left: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: #070066;
    -webkit-transition: left 0.28s ease, width 0.28s ease;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2;
}

.form-group select {
    color: #333;
}

.form-group select~.control-label {
    font-size: 0.8rem;
    color: gray;
    top: -1rem;
    left: 0;
}

.form-group select:focus{
    outline: none;
}

.form-group select:focus~.control-label {
    color: #070066;
}

.form-group select:focus~.bar::before {
    width: 100%;
    left: 0;
}

.checkbox label{
    position: relative;
    cursor: pointer;
    padding-left: 2rem;
    text-align: left;
    color: #333;
    display: block;
}

.checkbox input{
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
}





.checkbox {
    margin: 1rem 0;
}

.checkbox .CheckIcon {
    color: #999;
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    z-index: 0;
    border: 0.125rem solid currentColor;
    border-radius: 0.0625rem;
    -webkit-transition: border-color 0.28s ease;
    transition: border-color 0.28s ease;
}

.checkbox .CheckIcon::before,
.checkbox .CheckIcon::after {
    position: absolute;
    height: 0;
    width: 0.2rem;
    background-color: #070066;
    display: block;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 0.25rem;
    content: "";
    -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
    transition: opacity 0.28s ease, height 0s linear 0.28s;
    opacity: 0;
}

.checkbox .CheckIcon::before {
    top: 0.65rem;
    left: 0.38rem;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    box-shadow: 0 0 0 0.0625rem #fff;
}

.checkbox .CheckIcon::after {
    top: 0.3rem;
    left: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox label:hover .CheckIcon {
    color: #070066;
}

.checkbox input:checked~.CheckIcon {
    color: #070066;

}

.checkbox input:checked~.CheckIcon::after,
.checkbox input:checked~.CheckIcon::before {
    opacity: 1;
    -webkit-transition: height 0.28s ease;
    transition: height 0.28s ease;
}

.checkbox input:checked~.CheckIcon::after {
    height: 0.5rem;
}

.checkbox input:checked~.CheckIcon::before {
    height: 1.2rem;
    -webkit-transition-delay: 0.28s;
    transition-delay: 0.28s;
}


.addTask{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #710AF0;
    padding: .5rem .3rem;
    border-radius: 5px;
    width: 100%;
}

.addTask input{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1rem;
    height: 100%;
    border: none;
    border-radius: 5px;
    padding: 0 .5rem;
    background-color: transparent;
    color: white;
}

.addTask input::placeholder{
    color:white;
    opacity: 1;
}
.addTask div.optionWappers{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.addTask div.givePriority,
.addTask div.giveColor{
    margin:0;
}
.addTask div.givePriority select{
    font-family: 'Roboto';
    font-weight: 300;
    color:white;
    background: #710AF0;
}

